h1 {
  font-size: 80px;
  /*text-transform: uppercase;
  font-family: "Lacquer", sans-serif;*/
  color: #8b3140
}

.main-header {
  background: rgb(204, 204, 204);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  padding-left: 10%;
  padding-block-start: 3%;
  padding-right: 10%;
}

button {
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .main-header {
    height: 90px;
  }
  h1 {
    font-size: 40px;
  }
}
