<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>reConnect - connecting people</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./pedro.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lacquer&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="main-header">
        <h1>reConnect</h1>
      </div>
    </header>
    <section>
      <a href="../help/help.html">
        <div id="first-photo">
          <div>
            <img src="../../assets/find_someone.jpeg" alt="Find Someone" />
          </div>
          <div class="comment">
            Find Someone
          </div>
        </div>
      </a>
      <a href="../help/help-someone.html">
        <div id="second-photo">
          <div>
            <img src="../../assets/help_someone.jpeg" alt="Find Someone" />
          </div>
          <div class="comment">
            Help Someone
          </div>
        </div>
      </a>
    </section>
  </body>
</html>
