<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reconnect - Connecting People</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="pedro.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="./pedro.js"></script>

  </head>
  <body>
  </div>
  <div class="jumbotron">
    <div class="container">
      <div id="header">


        <!-- <div class="dropdown">
          <button class="dropbtn">
            <div class="hamburger"></div>
            <div class="hamburger"></div>
            <div class="hamburger"></div>
          </button>                      
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div> -->
      
        <h1>reConnect</h1>
        </div>
      </div>
    </div>

    

    <div id="intro">
            <div class="container">
                <div id="intro">
                    <div class="row align-items-center h-100">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">

                      <p class="card-text">Don't look at tomorrow like yesterday never came, reConnect with the ones who matter
                      </p>
                    </div>
                    </div>
                  </div>
              </div>
              </div>



        <div id="end">
          <div class="container">
              <div class="options">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-2">

                        <a href="../help/help.html">
                        <div class="card" style="width: 18rem;">
                            <img id="find" class="card-img-top" src="../../assets/find_someone.jpeg" alt="Card image cap"></a>
                            <div class="card-body">
                              <h5 class="card-title">Find Someone</h5>
                            </div>
                          </div>
                      
                    </div>
                    <div class="col-md-auto">
                      
                    </div>
                    <div class="col col-lg-2">

                        <a href="../help/help-someone.html">
                        <div class="card" style="width: 18rem;">
                            <img id="help" class="card-img-top" src="../../assets/help_someone.jpeg" alt="Card image cap"></a>
                            <div class="card-body">
                              <h5 class="card-title">Help Someone</h5>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            </div>

  </body>
</html>
